@model WebApplication1.Models.RealEstate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RealEstate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="propAvailable" class="control-label"></label>
                <input asp-for="propAvailable" class="form-control" />
                <span asp-validation-for="propAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="roomsAvailable" class="control-label"></label>
                <input asp-for="roomsAvailable" class="form-control" />
                <span asp-validation-for="roomsAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rent" class="control-label"></label>
                <input asp-for="rent" class="form-control" />
                <span asp-validation-for="rent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
